/* all font family  */
h1, h2, h3, h4, header{
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Times New Roman', Times, serif;
    color: #3A3A3A;
}
/* header navigation */
header nav{
    margin: 5% 100px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-bars{
    display: none;
}
nav h4{
    font-size: 24px;
    font-weight: 700;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin-right: 34px;
    color: #3A3A3A;
}
nav a .fas{
    font-size: 20px;
}
/* top part style */
.top{
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    padding: 0px 20px;
}
.top-detail{
    max-width: 582px;
    max-height: 270px;
    padding-top: 3%;
}
h1{
    font-size: 52px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
.top-detail p{
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    color: black;
}
.button {
    background-color: rgb(241, 0, 229);
    color: snow;
    width: 196px;
    height: 44px;
    border-radius: 41px;
    padding: 10px 24px;
    font-size: 20px;
}
.top-detail .button:hover{
    transform: scale(1.5);
    box-shadow: 10px 10px 10px steelblue;
    transition: transform 0.8s ease-in-out ;
}
/* Logo part */
.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 110px;
    margin: 5% 120px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: radial-gradient( #3a3a3a,#e0e0e000 );
    border-image-slice: 1;
}
.logos img{
max-width: 10%;
padding: 3%;
}
/* middle Collection part */
.middle {
    max-width: 1264px;
    max-height: 1815px;
    margin: 50px 155px
}
h3{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}
.mid-col{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
}
.product{
    width: 379px;
    height: 512px;
    padding-bottom: 10px;
    margin: 3%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.prod-img{
    padding: 10% 10% 5px;
}
.prod-img img{
    width: 300px;
    height: 256px;
}
.prod-detail{
    margin: 0;
    padding-left: 10%;
}
h2{
font-weight: 500;
font-size: 28px;;
margin-bottom:6px;
margin-top: 10px;
}
.price{
    font-size: 30px;
    margin: 0;
}
.star{
    display: flex;
    align-items: center;
    height: 30px;
    letter-spacing: 0.1px;
}
.icon {
    margin: 0 5px 0 0;
    width: 16px;
    height: 16px;
    font-size: 12px;
    color: rgb(255, 145, 0);
}
.star span{
    font-size: 20px;
    padding-top: 3px;
    color: #5E6366;
    font-weight: 700;
    margin-left: 10px;
}
.info{
    margin: 5px 0 0 0;
    font-size: 20px;
    color: #5E6366;
}
.mid-bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: #e02c9bc4;
}
.fa-hand-point-right{
    margin: 5px 10px;
    font-size: 30px;
}
/* my new section */
.bot-img {
    margin: 1%;
}
.bot-img img{
    width: 400px;
    border-radius: 10px;
}
.bot-detail{
    width: 60%;
    margin-bottom: 5%;
    color: black;
}
.bot-detail h2{
    color: rgb(76, 0, 255);
}
.bot-detail p{
    margin-bottom: 35px;
}
.bot-detail a{
    text-decoration: none;
    font-weight: 600;
}

/* fooer part  */
footer{
    background-color: violet;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 5px;
    padding: 2%;
}
footer p{
    margin: 10px;
    font-weight: 500;
}
.foot-icon{
    margin: 10px 0;
}
.foot-icon i{
    margin-left: 10px;
    font-size: 1.3em;
    color: rgb(24, 4, 207);
}
/* media query */
@media only screen and (max-width: 688px) {
    header nav{
        margin: 5% 10px;
    }
    .fa-bars{
        display: inline-flex;
        font-size: 24px;
    }
    nav h4{
        font-size: 16px;
    }
    .hidden{
        display: none;
    }
    .top{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        text-align: center;
        justify-items: center;
        margin: 5%;
    }
    .top-img img{
        max-width:85%;
        order: 1;
    }
    .top-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
    }
    h1{
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .logos{
        display: flex;
        flex-wrap: wrap;
        border: none;    
        margin: 5%;
    }
    .middle{
        margin: 5%;
    }
    .mid-col{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .new-part{
        position: relative;
        top: 3500px;
        justify-items: center;
        margin-top: 15%;
        margin-bottom: 5%;
    }
    .bot-detail{
        width: 90%;
    }
    .bot-img img{
        width: 379px;
    }
    footer{
        position: relative;
        top: 3480px;
    }
}
@media only screen and (min-width: 688px) and (max-width: 992px) {
    header nav{
        margin: 5%;
    }
    .fa-bars{
        display: inline-flex;
        font-size: 24px;
    }
    nav h4{
        font-size: 20px;
    }
    .hidden{
        display: none;
    }
    .top{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        text-align: center;
        justify-items: center;
        margin: 5%;
    }
    .top-img img{
        max-width:85%;
        order: 1;
    }
    .top-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
    }
    h1{
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .logos{
        margin: 8%;
    }
    .middle{
        position: relative;
        margin: 5% 7%;
    }
    .mid-col{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .new-part{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 1200px;
        align-items: center;
    }
    .bot-detail{
        width: 80%;
    }
    footer{
        position: relative;
        top: 1164px;
    }
}